{% extends "base.html" %}
{% load static %}

{% block title %}
  My Blogs
{% endblock %}

{%block css_file%}
    <link rel="stylesheet" href="{% static 'post.css'%}">
    <link rel="stylesheet" href="{% static 'index.css'%}">
{% endblock %}


{% block content %}
    
    
    <section id="welcome">
        <header>
            <img src="{% static 'images/7.jpg' %}" alt="Darshil - the author of this blog"/>
            <h2>DARSHIL-PATEL'S BLOG</h2>
        </header>
        <p>Heyy there , I am darshil patel and i want to write the blogs on AI world!</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thought and Research</h2>
        <ul>
            {% for post in posts%}
                {% include "post.html" %}
            {% endfor %}
        </ul>

    </section>
    <section id="about">
        <h2>What I do?</h2>
        <p>I am AI enthisuastist , I am very curious in AI realeted things for reaserching and finding the new developments in AI feilds.</p>
    </section>
{% endblock %}

