{% load static %}
<li>
    <article class="post">
     <a href="">              
     <img src="{% static 'images/AI.png' %}" alt="AI Progess now in world!"/>
     <div class="post__content">
         <h3>AI Process</h3>
         <p>AI is rapidly advancing and becoming a core part of everyday life. Today, Generative AI tools like ChatGPT, Midjourney, and Sora are helping people write, design, and create content with ease. In tech and business, Large Language Models (LLMs) and machine learning platforms are automating customer service, fraud detection, and data analysis.
         <p>Computer vision is powering self-driving cars and facial recognition, while AI in healthcare is improving disease detection and drug development. Meanwhile, AI in education is growing through personalized learning apps and smart tutors. With continuous breakthroughs, AI is not just the future — it’s actively transforming industries right now.</p>
     </div>
    </a>              
    </article>
</li>